.title {
  font-family: 'Geologica', sans-serif;
  font-weight: 800;
  font-size: 4em;
}

.subtitle {
  font-family: 'Geologica', sans-serif;
  font-weight: 800;
  font-size: 2.5em;
  color : white;
}