
  
  .card-container .product--image {
    width: 100%;
    height: 16em;
    object-fit: cover;
  }
  
  .card-container .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 320px;
    /* height: 500px; */
    margin: auto 1rem;
    text-align: center;
    font-family: arial;
  }
  
  .card-container .price {
    color: grey;
    font-size: 22px;
    /* font-family: 'Geologica', sans-serif;
    font-weight: 800; */
  }
  
  .card-container .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
  }
  
  .card-container .card button:hover {
    opacity: 0.7;
  }

  .card-container .title {
    font-family: 'Geologica', sans-serif;
    font-weight: 800;
    font-size: 1.3em;
  }
  
  .card-container .subtitle {
    font-family: 'Geologica', sans-serif;
    font-weight: 800;
    font-size: 2.5em;
    color : white;
  }